EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_client_id_here
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_SECRET=your_web_client_secret_here
EXPO_PUBLIC_USE_MOCK_SERVICES=0
EXPO_PUBLIC_MOCK_USER_EMAIL=dev@thunkd.local
EXPO_PUBLIC_MOCK_USER_NAME=Thunkd Dev
OPENROUTER_API_KEY=apikey
